.textbox {
		height:20px;
		margin:0;
		padding:0 2px;
		box-sizing:content-box;
	}

#login {
	padding:6px 0 0 0;
}

p{
	height:22px;
	line-height:22px;
	padding:4px 0 0 22px;
}
#btn {
	text-align: center;
}
.easyui-linkbutton {
	padding:0 10px;
}

.logo {
width:180px;
height:50px;
line-height:50px;
text-align:center;
font-size:20px;
font-weight:bold;
float:left;
color:#fff;
}
.logout {
float:right;
padding:30px 15px 0 0;
color:#fff;
}
a {
color:#fff;
text-decoration:none;
}
a:hover {
text-decoration:underline;
}